*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-seif;;
}
body{
    height: 100vh;
    width: 100%;
    background-image:  url(../images/photo_2022-12-22_23-55-59.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16%;
}
.container{
    width: 100%;
    max-width: 370px;
    padding: 1px 5px;
    background: rgba(10, 10, 10, .45);
    border: 2px solid #200c11;
    border-radius: 16px;
}
.container h1{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0 0 8px 0;   
}
.container form{ 
    padding: 0 50px;
}
form .main{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #85535f;
}
.main input{
    width: 100%;
    padding: 0 5px;
    font-size: 1rem;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    color: #e7e6e6;
    
}
.main label{
    position: absolute;
    top: 50%;
    left: 6px;
    color: #f12551;
    transform: translateY(-50%);
    font-size: 1.1rem;
    pointer-events: none;
    transition: all .40s ease;
}
.main span::before{
    position: absolute;
    content: '';
    left: 0;
    top: 35px;
    width: 100%;
    height: 2px;
}
.main input:focus ~ label,
.main input:valid ~ label{
    top: -3px;
    color: #fff;
}
.pass{
    margin: -6px 0 20px 5px;
    color: #fff;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    height: 45px;
    width: 100%;
    border: none;
    background: #b2405d;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 16px;
    cursor: pointer;
}
.signup{
    color: #b2405d;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin: 30px 0;
}
.signup a{
    margin: 10px;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}

@media (max-width: 525px){
    body{
        padding: 0 2%;
    }
    .container{
        padding: 5px 5px;
    }
}